@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(45deg,grey, black);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        content: "";
        width: 270px;
        height: 270px;
        background: linear-gradient(50deg,black,white);
        border-radius: 50%;
        position: absolute;
        transform: translate(-150px,-100px);
       
    }
    &::after{
        content: "";
        width: 270px;
        height: 270px;
        background: linear-gradient(50deg,white, black);
        border-radius: 50%;
        position: absolute;
        transform: translate(150px,100px);
    } 
    
    
}


.container{
    position: relative;
    width: 400px;
    height: 210px;
   z-index: 1;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background-image: url('./asset/background.png.jpg');
    background-size: cover;
  /*   background: linear-gradient(to right,#ff7e5f, black), url('./asset/background.png.jpg');
    background-size: cover;
    background-position: center; */
    border-radius: 25px;
    box-shadow: 0 15px 35px black ;
    
}

.card:hover{
    transform: rotateY(180deg);
}

.front-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}

    
.front-card .logo{
    display: flex;
    padding: 20px 20px ;
    

    >.first-circle{
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: rgb(255, 30, 0);
        position: relative;
        
        
        

    }
    >.second-circle{
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: rgb(255, 225, 0);
        position: absolute;
        left:40px;
        
        
        
    }

    >h3{
        padding-top:10px;
        padding-left: 30px;
        font-size: 1.2rem
    }

    >img{
        width: 50px;
        
    }

}

.logo img{
    margin-left: 30% ;
}


.front-card .card-info{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-number p{
    font-size: 12px;
    font-weight: 700;
}

.card-name{
    padding-top: 15px;
    font-weight: 600;
}

.date{
    font-size: 1empx;
    padding-top: 30px;
} 
.back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: 15px 25px 25px 25px;

    >h6{
        font-size: 10px;

    }

    .strips{
        position: absolute;
        background: black;
        top: 40px;
        left:0;
        width:100%;
        height: 45px;
        z-index: 1;
    }

    .cvv{
        margin-top: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 30px;
        width: 85%;
        background-color: #fff;
        border-radius: 6px;
        background: repeating-linear-gradient(#fff,#fff 3px,#efefef 9px);
    }

    .cvv i{
        color: #000;
        font-size: 12px;
        padding: 4px 6px;
        background-color: #fff;
        margin: -30px;
        z-index: -1;
    }

    .letter{
        font-size:10px;
        margin-top:15px;
    }
}





